body{
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: fantasy;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
}

.child img{
    border: 6px solid rgb(45, 45, 36);

    min-height: 20vh;
    max-width: 20vw;
}
/* .child:hover{
    transition-delay: 1s;
    transition: width 2s, height 2s, transform 2s;
    /* width: 100px; */
    /* height: 100px; */
    /* background: red; */
    /* transition: width 2s, height 4s; */ */
/* } */